{% extends "base/admin_base.html" %}
{% block add_head %}
    <title>刷新缓存 - XLWebServices</title>
{% endblock %}

{% block page_content %}
    <div class="container max-w-screen-md mx-auto bg-white p-16 rounded-lg shadow-md py-6">
        <h1 class="text-2xl font-bold py-4">刷新缓存</h1>
        <hr class="mb-2"/>
        <div class="flex flex-col space-y-6 px-4">
            <div class="w-full">
                {% include "base/flash_messages.html" %}
                <div class="flex justify-between mb-6">
                    {% include "base/flush_cache.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}